body {
    background-color:aqua;
    background-size: contain;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
h1 { display: flex;
     justify-content: center; 
}

.centradoUno {display:flex;
              justify-content: center;
              align-items: center;
              margin: 5px;
              padding: 5px;
              font-size: 10px;

}

.centradoUno div {display:flex;
                  justify-content:center;
                  align-items: center;
}

.centradoDos {display: flex;
              align-items: center;
              justify-content: space-around;
              margin: auto;
              padding: 2px;

}

#formulario { display: none;

}
/* 
  // centrado */
/* 
display: flex;
justify-content: center;
align-items: center;

display: flex;
justify-content: flex-start;
align-items: center;
 */
